*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    object-fit: cover;
    font-family: 'Tajawal', sans-serif;
}


h1{
    font-size: 4rem;
    font-weight: bold;
}


h1, h2{
    padding: 10px;
    text-align: center;
    font-weight: bold;
}


img {
    height: 300px;
    width: 300px;    
    object-fit: cover;
    border: 5px solid whitesmoke;
    border-radius: 15px;
}



div {
    display: flex;

}

article {
    margin: 0.9rem;
}






button{
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    margin: 20px;
    width: 150px;
    background: azure;
    cursor: pointer;
    border-radius: none;
    font-weight: 700;
}





.container-michis{    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 25rem), 1fr));
    border: 10px;
    
    border-radius: 15px;
    margin: 0 2em;
    background-color:papayawhip;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 4em 0.5em;
}

#recargar{
    display: flex;
    justify-content: center;
    margin: 10px auto;
    border-radius: 5px;

}



